.DeleteFileButton{
    width: 40px;
    aspect-ratio: 1/1;
    overflow: hidden;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.DeleteFileButton > img{
    width: 100%;
}