.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    width: 100%;
    height: 10vh;
    position: sticky;
    top: 0;
    padding: 20px;
    background-color: var(--light-grey);
    border-radius: 0px 0px 20px 20px;
    /* box-shadow: rgba(0, 242, 255, 0.4) 0px 2px 4px, rgba(59, 213, 248, 0.3) 0px 7px 13px -3px, rgba(1, 234, 255, 0.2) 0px -3px 0px inset; */
}

.logoNav{
    height: 80%;
}