.upload-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  .upload-modal-content {
    background-color: var(--theme-blue);
    position: relative;
    padding: 25px;
    width: 30vw;
    height: 50vh;
    isolation: isolate;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .upload-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .upload-close-button > img{
    width: 20px;
  }

  input[type="file"] {
    display: none;
}

/* Style the custom file input button */
.custom-file-input {
    background-color: #3498db;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Style the selected file name display */
.file-name {
    margin-top: 10px;
    font-weight: bold;
}